<Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline">
    <MenuItem>
        <MenuLink href="" Match="NavLinkMatch.All">
            <Icon Type="home" Theme="outline" />
            <span>Home</span>
        </MenuLink>
    </MenuItem>
    <MenuItem>
        <MenuLink href="counter">
            <Icon Type="plus" Theme="outline" />
            <span>Counter</span>
        </MenuLink>
    </MenuItem>
    <MenuItem>
        <MenuLink href="fetchdata">
            <Icon Type="file-search" Theme="outline" />
            <span>Fetch data</span>
        </MenuLink>
    </MenuItem>
</Menu>